In [3]:
from google.colab import drive

df = drive.mount("/gdrive")

Mounted at /gdrive

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv(r"/gdrive/My Drive/Machine_Learning/weatherHistory.csv", sep(","))

In [6]:
df

,Formatted_Date,Summary,Precip_Type,Temperature,Apparent_Temperature,Humidity,Wind_Speed,Wind_Bearing,Visibility,Loud_Cover,Pressure,Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Formatted_Date        96453 non-null  object
 1   Summary               96453 non-null  object
 2   Precip_Type           95936 non-null  object
 3   Temperature           96453 non-null  float64
 4   Apparent_Temperature  96453 non-null  float64
 5   Humidity              96453 non-null  float64
 6   Wind_Speed            96453 non-null  float64
 7   Wind_Bearing          96453 non-null  float64
 8   Visibility            96453 non-null  float64
 9   Loud_Cover            96453 non-null  float64
 10  Pressure              96453 non-null  float64
 11  Daily_Summary         96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [10]:
x = df[['Humidity','Wind_Speed','Pressure','Wind_Bearing']]
y = df['Temperature']

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
multiple_regression = LinearRegression()

In [15]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 0)

In [16]:
multiple_regression.fit(x_train , y_train)

LinearRegression()

In [19]:
y_pred = multiple_regression.predict(x_test)

In [20]:
y_pred

array([ 7.38929229, 11.92000416, 15.90978403, ...,  7.78099334,
        6.31214681, 13.31918341])

In [23]:
print("COEFF : ",multiple_regression.coef_)
print("Intercept : ", multiple_regression.intercept_)

COEFF :  [-3.25690116e+01 -2.02470954e-01 -7.07132918e-04  4.10202244e-03]
Intercept :  37.995443323077254

In [30]:
pred_df = pd.DataFrame({
    'Gerçek Değer ':y_test,
    'Tahmin Edilen Değer ':y_pred,
    'Fark ':y_pred - y_test,
})

In [31]:
pred_df

       Gerçek Değer   Tahmin Edilen Değer       Fark
6119       14.422222              7.389292  -7.032930
51443      12.155556             11.920004  -0.235551
18754      23.961111             15.909784  -8.051327
34070      15.000000              7.597085  -7.402915
26082      12.800000             11.276078  -1.523922
...              ...                   ...        ...
12953      28.888889             23.552648  -5.336241
78272      17.216667              6.069665 -11.147002
1985       -1.000000              7.780993   8.780993
82141       7.327778              6.312147  -1.015631
15354      16.061111             13.319183  -2.741928

[19291 rows x 3 columns]

In [37]:
from sklearn.metrics import mean_absolute_percentage_error , mean_squared_error

print("MSE : ",mean_squared_error(y_test,y_pred))
print("MAPE : ",mean_absolute_percentage_error(y_test,y_pred)*100)

MSE :  53.132244900132214
MAPE :  1.3462032129746654e+16